.map {
  height: 100vh;
  padding: 0;
}

#locationButton {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;
  z-index: 400;
}

.pull-down {
  position: absolute;
  width: 34px;
  margin-left: 10px;
  margin-top: 78px;
  height: 34px;
  overflow: hidden;
  padding: 3px 1px 0px 0px;
  z-index: 9999;
  border: 2px solid #b8b7b3;
  border-radius: 4px;
  background-color: #f4f4f4;
}